.container {
    background-color: red;
    height: 800px;
    display: flex;
    background-image:url(https://t2.ldh.be/PuZN4PhIrTW9t_8ZLjUR_KmnCvo=/0x359:2014x1363/1920x960/5e6695aff20d5a29c64b25e1.jpg);
    
    
}



.citation {
    color: red;
    font-size: 40px;
    
}

.bloc {
    background-color: white;
    max-width: 300px;
    text-align: center;
    margin-top: 150px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 100px;
}

.btn {
    font-family: 'Anton', sans-serif;
    color: white;
    
}